* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

td {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
}

.blue {
    background-color: rgb(31, 31, 255);
}

.white {
    background-color: rgb(255, 255, 255);
}