* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.appWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}
